@using Logistics.Entities
@model Logistics.Models.AirExpForCreationDto

@{
    Layout = null;
}
<body>

    <section class="wr-main">
        <div class="out-content-mid no-mb no-minheight">
            <div class="container-fluid">
                    <div class="row">

                        @*id*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Job ID</label>
                                @Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="text" value=@Model.JobID class="form-control" placeholder="">*@
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*op ic*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>O.P IC</label>
                                <select id="opic" value="@Html.ValueFor(model => model.opicID)" name="hello" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select op.ic</option>
                                </select>
                            </div>
                        </div>
                        @*airlines*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Airlines</label>
                                <select id="Airlines" name="@Html.NameFor(model => model.carrierID)" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select value</option>
                                    <option value="100029">Value 1</option>
                                    <option value="100036">Value 2</option>
                                    <option value="100034">Value 3</option>
                                    <option value="100035">Value 4</option>
                                </select>
                            </div>
                        </div>
                        @*created*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Create</label>
                                <div class="out-datapick">
                                    <input id="@Html.IdFor(model => model.created)" name="@Html.NameFor(model => model.created)" value=@Html.ValueFor(m => m.created) class="form-control mydatepicker" placeholder="mm/dd/yyyy" />
                                    <span class="input-group-addon"><i class="mdi mdi-calendar-clock"></i></span>
                                </div>
                            </div>

                        </div>
                        @*shipment*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Shipment</label>
                                <select id="Shipment" name="@Html.NameFor(model => model.shipmentID)" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select shipments</option>
                                </select>
                            </div>
                        </div>
                        @*agent*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Agent</label>
                                <select id="Agent" class="form-control select-style-1">
                                    <option value="100031" selected="selected" style="font-weight: bold;">Please select agents</option>
                                    <option value="100029">Value 1</option>
                                    <option value="100036">Value 2</option>
                                    <option value="100034">Value 3</option>
                                    <option value="100035">Value 4</option>
                                </select>
                            </div>
                        </div>
                        @*etd*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Etd</label>
                                <div class="out-datapick">
                                    <input type="text" name="@Html.NameFor(model => model.etd)" value=@Html.ValueFor(model => model.etd) class="form-control mydatepicker" placeholder="mm/dd/yyyy">
                                    <span class="input-group-addon"><i class="mdi mdi-calendar-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        @*eta*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Eta</label>
                                <div class="out-datapick">
                                    <input type="text" name="@Html.NameFor(model => model.eta)" value=@Html.ValueFor(model => model.etd) class="form-control mydatepicker" placeholder="mm/dd/yyyy">
                                    <span class="input-group-addon"><i class="mdi mdi-calendar-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        @*origin*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Origin</label>
                                <select id="Origin" class="form-control select-style-1">
                                    <option value="100031" selected="selected" style="font-weight: bold;">Please select value</option>
                                    <option value="100029">Value 1</option>
                                    <option value="100036">Value 2</option>
                                    <option value="100034">Value 3</option>
                                    <option value="100035">Value 4</option>
                                </select>
                            </div>
                        </div>
                        @*destination*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Destination</label>
                                <select id="Destination" class="form-control select-style-1">
                                    <option value="100031" selected="selected" style="font-weight: bold;">Please select value</option>
                                    <option value="100029">Value 1</option>
                                    <option value="100036">Value 2</option>
                                    <option value="100034">Value 3</option>
                                    <option value="100035">Value 4</option>
                                </select>
                            </div>
                        </div>
                        @*commodity*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Commodity</label>
                                <select id="Commodity" name="@Html.NameFor(model => model.commodityId)" class="form-control select-style-1">
                                    <option value="" disabled selected="selected" style="font-weight: bold;">Please select commodity</option>
                                </select>
                            </div>
                        </div>
                        @*Transit*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>P. Transit</label>
                                <select id="Transit" class="form-control select-style-1">
                                    <option value="100031" selected="selected" style="font-weight: bold;">Please select value</option>
                                    <option value="100029">Value 1</option>
                                    <option value="100036">Value 2</option>
                                    <option value="100034">Value 3</option>
                                    <option value="100035">Value 4</option>
                                </select>
                            </div>
                        </div>
                        @*L*H*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>L*H</label>
                                @*@Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="text" class="form-control" placeholder="">
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*W*Q*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>W*Q</label>
                                @*@Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="text" class="form-control" placeholder="">
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*Mawb No*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Mawb No</label>
                                @Html.EditorFor(model => model.mawbNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="text" class="form-control" placeholder="">*@
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*Bill Type*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Bill Type</label>
                                <select id="billtype" name="@Html.NameFor(model => model.typeOfBillId)" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select value</option>

                                </select>
                            </div>
                        </div>
                        @*Quantity*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Quantity</label>
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="number" class="form-control" placeholder="">*@
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*Unit*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Unit</label>
                                <select id="Unit" name="@Html.NameFor(model => model.unitID)" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select unit</option>

                                </select>
                            </div>
                        </div>
                        @*GW*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>GW</label>
                                @*@Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="number" class="form-control" placeholder="">
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*CW*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>CW</label>
                                @*@Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="number" class="form-control" placeholder="">
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*Flight Number*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Flight Number</label>
                                @Html.EditorFor(model => model.flightNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="number" class="form-control" placeholder="">*@
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                        @*Flight Date*@
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="out-input">
                                <label>Flight Date</label>
                                <div class="out-datapick">
                                    <input type="text" name="@Html.NameFor(model => model.flyDate)" value="@Html.ValueFor((model => model.flyDate))" class="form-control mydatepicker" placeholder="mm/dd/yyyy">
                                    <span class="input-group-addon"><i class="mdi mdi-calendar-clock"></i></span>
                                </div>
                            </div>
                        </div>
                        @*Payment*@
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="out-input">
                                <label>Payment</label>
                                <select id="Payment" name="@Html.NameFor(model => model.paymentID)" class="form-control select-style-1">
                                    <option value="100031" disabled selected="selected" style="font-weight: bold;">Please select value</option>
                                </select>
                            </div>
                        </div>
                        @*isFinish*@
                        <div class="col-sm-12 col-md-3 col-lg-1">
                            <div class="out-input">
                                <div class="checkbox checkbox-primary">
                                   
                                    <input id="checkbox1" value="@Html.ValueFor(m => m.isFinish)" type="checkbox" name="@Html.NameFor(model => model.isFinish)">
                                    
                                    <label for="checkbox1">Iss Finished</label>
                                </div>
                            </div>
                        </div>
                        @*Notes*@
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="out-input">
                                <label>Notes</label>
                                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input type="text" class="form-control" placeholder="">*@
                                <div id="div-error-message-item" class="color-danger p-t-10" style="display: none;">Please input data</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
<script src="~/js/main/airexps_addedit.js"></script>
</body>

